.controlsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.controlRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.controlRowVert {
  justify-content: center;
}

.control {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 15px;
  background-color: grey;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
  transition: all 250ms ease-in-out 0;
}

.control:hover {
  transform: scale(1.1);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
